<div class="dashboard">
    <aside class="search-wrap">
        <div class="user-actions">
            <button class="btn_noti"></button>
            <button class="btn_logout"></button>
        </div>
    </aside>

    <Sidebar />

    <main class="content-wrap">
        <header class="content-head">
            <h1>Societe Generale</h1>
            <div class="action">
                <button class="btn-search">Search</button>
            </div>
        </header>

        <div class="content">
            <router-view></router-view>
        </div>
    </main>
</div>