<header class="menu-wrap">
    <figure class="user">
        <div class="user-avatar">
            <!-- <img> -->
        </div>
        <figcaption>
            Admin
        </figcaption>
    </figure>

    <nav>
        <section>
            <h3>Menu</h3>
            <ul><li @click="goScreen('/home')"><a><span class="icon icon-folder"></span>Home</a></li></ul>
            <ul><li @click="goScreen('/about')"><a><span class="icon icon-folder"></span>About</a></li></ul>
        </section>
    </nav>
</header>